a {
    text-decoration: none !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 5px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td:hover {
    background-color: #e0e0e0;
    align-items: center;
}

#nextMonth {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#beforeMonth {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.box-center {
    width: 100%;
    
    height: auto;
    display: flex;
    justify-content: center;
}
.event-title{
    float: left;
}